*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    height:100%;
    width:100%;
}
.container{
    height:100%;
    width:100%;
    background-color: rgb(155, 182, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}
.music{
   background: lemonchiffon;
    height:400px;
    width:300px;
     border-radius: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.nav{
    height:50px;
    /* background-color: aqua; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
nav .back{
    font-size: 20px;
    color:black;
    background-color: white;
    padding:6px 6px;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(100, 89, 89, 0.22);
}
.img{
    height:50%;
    width:65%;
    background-color: azure;
    border-radius: 100px;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
    margin-top: 20px;
    box-shadow: 0 5px 10px rgba(100, 89, 89, 0.22);
    border: 4px solid white;
}
.img img{
    height:100%;
    width: 100%;
    object-fit: cover;
}
.audio{
  position: absolute;
  bottom: 0;
}
.music h1{
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 25px;
    color:rgb(187, 112, 124);
}
